<mat-toolbar color="blank">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    <span>{{ name }}</span><mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>add</mat-icon> Add account</button>
    <button mat-menu-item><mat-icon>manage_accounts</mat-icon> Manage account</button>
    <mat-divider></mat-divider>
    <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
